# Ignore virtual environments
venv/
*.pyc
__pycache__/
*.pyo
*.pyd
*.exe
node_modules/

# Ignore environment files
.env

# Ignore IDE/Editor settings
.vscode/
.idea/
*.swp

# Ignore Python dependency folders
site-packages/
