{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BharatSeller{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'keyword_tool/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Ensure this line is present -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">BharatSeller</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'keyword_analysis' %}">Keyword Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'review_analysis' %}">Review Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_search' %}">Product Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'keyword_optimization' %}">Keyword Optimization</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cerebro' %}">Cerebro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listing_maker' %}">Listing Maker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sales_guesstimator' %}">Sales Guesstimator</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listing_booster' %}">Listing Booster</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link" style="display: inline; padding: 0; border: none; background: none;">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Ensure jQuery is loaded before Bootstrap's JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log("Tooltip initialization script running");  // Debugging line
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>