{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Keyword Optimization Tool</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <form method="post" class="form-group">
                {% csrf_token %}
                <div class="form-group">
                    <label for="keywords">Keywords</label>
                    {{ form.keywords }}
                </div>
                <div class="form-group">
                    {{ form.remove_duplicates }} Remove Duplicates
                </div>
                <div class="form-group">
                    {{ form.maintain_phrases }} Maintain Phrases
                </div>
                <div class="form-group">
                    {{ form.protect_numbers }} Remove Numbers
                </div>
                <div class="form-group">
                    {{ form.convert_to_lowercase }} Convert to Lowercase
                </div>
                <div class="form-group">
                    {{ form.add_comma_with_spaces }} Add Comma with Spaces
                </div>
                <div class="form-group">
                    {{ form.add_comma_without_spaces }} Add Comma without Spaces
                </div>
                <div class="form-group">
                    {{ form.include_word_frequency }} Include Word Frequency
                </div>
                <div class="form-group">
                    {{ form.remove_common_words }} Remove Common Words
                </div>
                <div class="form-group">
                    {{ form.remove_single_letter_words }} Remove Single Letter Words
                </div>
                <div class="form-group">
                    <label for="replace_word">Replace Word</label>
                    {{ form.replace_word }}
                </div>
                <div class="form-group">
                    <label for="replace_with">Replace With</label>
                    {{ form.replace_with }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Optimize Keywords</button>
            </form>
        </div>
        <div class="col-md-6">
            {% if optimized_keywords %}
            <h2 class="text-center">Optimized Keywords</h2>
            <pre>{{ optimized_keywords }}</pre>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}