{% extends 'keyword_tool/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Login</h1>
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <div class="text-center mt-3">
                <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
            </div>
            <div class="text-center mt-3">
                <p>Debug: This is the login template.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}